body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header-fix {
    height: 65px;
    overflow:hidden;
    background-position: left top;
    text-align: left;
}


/* This parent can be any width and height */
.block {
    text-align: left;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
    /*width: 50%;*/
    overflow:hidden;
    background-position: left top;
    text-align: left;
}