<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link href="/saber/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/saber/webjars/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">


    <link href="/saber/main.css" rel="stylesheet">
    <script src="/saber/webjars/jquery/jquery.min.js"></script>
    <script src="/saber/webjars/bootstrap/js/bootstrap.js"></script>

    <script src="/saber/common.js"></script>
    <script src="/saber/admin.js?v=1"></script>

    <script src="/saber/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/saber/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

    <!--<style type="text/css">-->
        <!--.table {-->
            <!--table-layout:fixed;-->
            <!--word-break: break-all;-->
        <!--}-->
    <!--</style>-->

</head>
<body>

<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!
    </h2>
</noscript>

<div class="content-wrapper">
    <h3>管理 - <a href="javascript:;"><p th:text="${session.accountName} ?: ''" /></a> </h3>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Rows |
                        <small>Content</small>
                    </div>
                    <div class="panel-body">
                        <div >
                            <button class="btn btn-default" onclick="captureScreen();" >截图</button>

                            <input type="file" id="account_setting" accept=".txt">
                            <button class="btn btn-default" onclick="uploadAccountSetting();" >上传账号和设置</button>

                            <button class="btn btn-default" onclick="bindAccountSetting();" >绑定账号和设置</button>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl" class="table table-no-bordered table-hover table-condensed"
                                   data-toggle="table"
                                   data-url="/saber/v1/admin/query-bidder-clients"
                                   data-pagination="true"
                                   data-search="true"
                                   data-search-on-enter-key="true"
                                   data-trim-on-search="true"
                                   data-card-view="false"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-side-pagination="server"
                                   data-page-list="[10, 50, 100, 200]"
                                   data-page-size="100"
                                   data-toolbar="#toolbar"
                                   data-unique-id="beeNo"
                                   data-striped="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-checkbox="true"></th>

                                    <th data-field="machineCode"
                                        data-formatter="operateFormatter"
                                        >操作</th>

                                    <th data-field="assignedClientNo">内部序号</th>
                                    <th data-field="machineCode" data-visible="false" data-width="75">机器码</th>
                                    <th data-field="machineAddress">机器地址</th>
                                    <th data-field="seatNo" data-width="45">座位号</th>

                                    <th data-field="status">状态</th>
                                    <th data-field="clientVersion">版本</th>

                                    <th data-field="bidAccountNo">Account</th>
                                    <th data-field="bidAccountPswd">Pswd</th>
                                    <th data-field="bidAccountIdCard">IDCard</th>

                                    <th data-field="bidStrategies" data-formatter="bidStrategiesFormatter">策略</th>

                                    <th data-field="phase2Actions"  data-formatter="phase2ActionsFormatter" data-width="150">第二阶段</th>

                                    <th data-field="loginCount">登录次数</th>
                                    <th data-field="lastLoginAddress">最后登录地址</th>
                                    <th data-field="lastLoginTime">最后登录时间</th>

                                    <!--<th data-field="lastLogoutTime">最后登出时间</th>-->
                                    <!--<th data-field="lastLivePingTime">最后存活时间</th>-->
                                    <!--<th data-field="lastWorkingTime">最后工作时间</th>-->

                                    <th data-field="lastConnectedTime">最后连接时间</th>
                                    <th data-field="lastDisconnectedTime">最后断开连接时间</th>
                                    <th data-field="lastTransportErrorTime">最后连接错误时间</th>

                                </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>