<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link href="/saber/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/saber/main.css" rel="stylesheet">
    <script src="/saber/webjars/jquery/jquery.min.js"></script>
    <script src="/saber/webjars/bootstrap/js/bootstrap.js"></script>


    <script src="/saber/common.js"></script>
    <script src="/saber/login.js"></script>

</head>
<body>

<div class="content-wrapper">
    <h3>账户</h3>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Account |
                        <small>Login</small>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <p th:text="${error} ?: ''" />

                            <form class="form-inline" action="/saber/account/do-login" method="post">
                                <div class="form-group">
                                    <label for="username">用户名: </label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="用户名" value="1234">
                                </div>
                                <div class="form-group">
                                    <label for="password">密码: </label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="密码" value="abcd">
                                </div>

                                <button class="btn btn-default" type="submit">登录</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>