<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link href="/saber/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/saber/webjars/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">


    <link href="/saber/main.css" rel="stylesheet">
    <script src="/saber/webjars/jquery/jquery.min.js"></script>
    <script src="/saber/webjars/bootstrap/js/bootstrap.js"></script>

    <script src="/saber/common.js"></script>
    <script src="/saber/workbench.js?v=2"></script>

    <script src="/saber/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/saber/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>

<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!
    </h2>
</noscript>

<div class="content-wrapper">
    <h3>管理 - <a href="javascript:;"><p th:text="${session.accountName} ?: ''" /></a> </h3>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Rows |
                        <small>Content</small>
                    </div>
                    <div class="panel-body">
                        <div >
                            <input type="hidden" th:value="${client.machineCode}" id="machineCode" >
                            <input type="hidden" th:value="${client.assignedClientNo}" id="assignedClientNo" >
                        </div>
                        <div class="table table-striped">
                                <div class="row">
                                    <div class="col-md-1">机器码：</div>
                                    <div class="col-md-2" th:text="${client.machineCode}" ></div>
                                    <div class="col-md-1">分配序号：</div>
                                    <div class="col-md-2" th:text="${client.assignedClientNo}" ></div>
                                    <div class="col-md-1">状态：</div>
                                    <div class="col-md-2" th:text="${client.status}" ></div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">机器地址：</div>
                                    <div class="col-md-2" th:text="${client.machineAddress}" ></div>
                                    <div class="col-md-1">最后连接时间：</div>
                                    <div class="col-md-2" th:text="${client.lastConnectedTime}" ></div>
                                    <div class="col-md-1">最后登录时间：</div>
                                    <div class="col-md-2" th:text="${client.lastLoginTime}" ></div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row">
                                    <!-- style="height: 700px; width: 900px;"  -->
                                    <div id="lastScreen" class="col-md-9" >

                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9" >
                                        <button class="btn btn-primary" onclick="fetchLastScreenImg();">显示最新截图</button>
                                        <button class="btn btn-primary" onclick="uploadBidScreen2(90203)" >获取Flash截图</button>
                                        <button class="btn btn-primary" onclick="uploadBidScreen2(90204)" >获取全屏幕截图</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3" >
                                        <input id="bidAccountNo" th:value="${client.bidAccountNo}" class="form-control" placeholder="竞拍账号" value="33445566">
                                    </div>
                                    <div class="col-md-3" >
                                        <input id="bidAccountPswd" th:value="${client.bidAccountPswd}" class="form-control" placeholder="密码" value="333333">
                                    </div>
                                    <div class="col-md-3" >
                                        <input id="bidAccountIdCard" th:value="${client.bidAccountIdCard}" class="form-control" placeholder="身份证" value="362528198711088015">
                                    </div>

                                    <div class="col-md-3"></div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <input id="loginCoords" class="form-control" placeholder="验证码坐标">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-success" onclick="loginBidAccount()" >登录账号</button>
                                    </div>

                                    <div class="col-md-8"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <input id="miscCoord" class="form-control" placeholder="操作坐标">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-default" onclick="controlClick()" >操作点击</button>
                                    </div>

                                    <div class="col-md-2">
                                        <input id="operateText" class="form-control" placeholder="操作文本">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-default" onclick="controlInput()" >操作输入</button>
                                    </div>

                                    <div class="col-md-6"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">第一阶段价格：</div>
                                    <div class="col-md-2">
                                        <input id="priceOfPhase1" class="form-control" placeholder="第一阶段价格">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-success" onclick="offerPrice4Phase1()" >第一阶段出价</button>
                                    </div>

                                    <div class="col-md-7"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">第一阶段验证码：</div>
                                    <div class="col-md-2">
                                        <input id="answerOfPhase1" class="form-control" placeholder="第一阶段验证码">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-success" onclick="submitPrice4Phase1()" >第一阶段提交</button>
                                    </div>

                                    <div class="col-md-7"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">设置竞拍策略：</div>
                                    <div class="col-md-2">
                                        <!-- cols="40" -->
                                        <textarea id="bidStrategies"  rows="3" class="form-control" placeholder="竞拍策略" ></textarea>
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-success" onclick="setBidStrategies()" >设置策略</button>
                                    </div>

                                    <div class="col-md-7"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">日志文件：</div>

                                    <div class="col-md-2">
                                        <button class="btn btn-primary" onclick="showLogFileLink()" >显示日志文件链接</button>
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-primary" onclick="uploadLogFile()" >获取日志文件</button>
                                    </div>

                                    <div class="col-md-2" id="lastLogFile">

                                    </div>

                                    <div class="col-md-5"></div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>